.product-details-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border: 1px solid red;
  width: 100vw;
}

.product-current-section {
  border: 1px solid green;
  display: flex;
  justify-content: center;
  padding: 20px 20px;
}
.similar-prod-section {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
}

.product-details-section {
  width: 50%;
  padding: 15px;
}
.product-image-section {
  width: 50%;

  display: flex;
}
.prod-img {
  width: 90%;
  border-radius: 5px;
}

.rating-viewer {
  display: flex;
  border-radius: 5px;
  background-color: #3b82fc;
  justify-content: center;
  color: white;
  padding: 5px;
}
.rating-section {
  display: flex;
  align-items: center;
  gap: 15px;
  border: 1px solid red;
}

.rating-star {
  width: 30%;
  margin-left: 5px;
  padding: 15;
}

.seperator {
  width: 100%;
}

.product-qty-section {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}

.prod-qty-viewer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 15px;
}

.qty-btn {
  background-color: transparent;
  border: 2px solid #cbced2;
}

.add-cart-btn {
  background-color: #3b82fc;
  color: white;
  border: none;

  padding: 5px;
  border-radius: 5px;
}

.similar-prod-container {
  display: flex;
  justify-content: space-evenly;
}

.loader-section {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
